<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- include source files here... -->
    <script src="../public/js/note.js"></script>

    <!-- include spec files here... -->
    <script src="../spec/assertions.js"></script>
    <script src="../spec/noteSpec.js"></script>
  </head>
  <body>
    <div>
      <ul id="test-list">

      </ul>
    </div>
    <script>
      var testList = document.getElementById("test-list")
      testList.innerHTML+= `<li> ${testNoteInstanceOfNote.name} : ${testNoteInstanceOfNote()} </li>`
      testList.innerHTML+= `<li> ${testGetTextReturnsTextProperty.name} : ${testGetTextReturnsTextProperty()} </li>`
      testList.innerHTML+= `<li> ${testGetSummaryReturnsSummaryProperty.name} : ${testGetSummaryReturnsSummaryProperty()} </li>`
   </script>
  </body>
</html>
